{% extends 'base.html' %}
{% load static %}
{% block content %}


<main class="main m-xxl-0 mx-2">
    <!-- breadcrumb -->
    <div class="breadcrumb_main ">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
                <li class="breadcrumb-item">{{ title }}</li>
            </ol>
        </nav>
    </div>
    <!-- /breadcrumb -->


    <!--  -->
    <!-- / -->


    <div class="main_book">
        <div class="container-fluid ">
            {% if user.is_authenticated %}
            	<form action="{% url 'add_book' %}" method="get">

                <input type="hidden" id="mail" name="mail" value="{{ user.email }}">
                <!-- hidden field that sends the user's email -->

                <div class="mb-3">Ваш email: {{ user.email }}</div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Название</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="title">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Описание</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                              name="content"></textarea>
                </div>

                <div class="d-flex mb-3">
                    <input id="html" type="checkbox" class="me-2" required>
                    <label for="html">Временная капча</label>
                </div>

                <button type="submit" class="btn but_sort">Отправить</button>

            </form>
            {% else %}
            	<p>Для добавления книги авторизуйтесь</p>
            {% endif %}



        </div>
    </div>
</main>



{% endblock %}
