{% extends "base.html" %}
{% load static %}
{% load genre %}

{% load i18n %}

{% block title %}{{ title }} {% endblock %}


{% block content %}

    <!-- ### Хлебные крошки  жанры ### -->

    <!-- # Хлебные крошки # -->
    <div class="d-flex  mb-2 box_lvl p-1 index_breadcrumb d-none d-xl-block">
        <nav aria-label="">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
                {% if title != 'Главная' %}
                    <li class="breadcrumb-item">{{ title }}</li>
                {% endif %}

            </ol>
        </nav>
    </div>
    <!-- # /Хлебные крошки # -->

    <!-- # жанры канвас # -->
    {% include 'inc/_genre_canvas.html' %}
    <!-- # /жанры канвас # -->

    <!-- ### /Хлебные крошки  жанры ### -->

    <!-- ### main_content ### -->
    <div class="main_content  box_lvl p-1 mb-2">
        <div class="main_content_container p-1 ">
            <div class="container">
                <div class="row">
                    <div class=" text-center m-2">{{ title }}:</div>
                    <hr>
                </div>
            </div>

            <div class="container books">
                <div class="books_row row">
                    <div class="col-md-6">

                        <p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>

                        <p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- ### /main_content ### -->

{% endblock content %}


