{% extends "base.html" %}
{% load static %}
{% load genre %}

{% block title %}{{ title }} {% endblock %}


{% block content %}

    <!-- ### Хлебные крошки  жанры ### -->

    <!-- # Хлебные крошки # -->
    <div class="d-flex  mb-2 box_lvl p-1 index_breadcrumb d-none d-xl-block">
        <nav aria-label="">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
                {% if title != 'Главная' %}
                    <li class="breadcrumb-item">{{ title }}</li>
                {% endif %}

            </ol>
        </nav>
    </div>
    <!-- # /Хлебные крошки # -->

    <!-- # жанры канвас # -->
    {% include 'inc/_genre_canvas.html' %}
    <!-- # /жанры канвас # -->

    <!-- ### /Хлебные крошки  жанры ### -->

    <!-- ### main_content ### -->
    <div class="main_content  box_lvl p-1 mb-2">
        <div class="main_content_container p-1 ">
            <div class="container">
                <div class="row">
                    <div class=" text-center m-2">{{ title }}:</div>
                    <hr>
                </div>
            </div>

            <div class="container books">
                <div class="books_row row">
                    <div class="col-md-6">

                        <form method="post">
                            {% csrf_token %}
                            <div class="form-error">{{ form.non_field_errors }}</div>
                            {% for f in form %}
                                {#                                <div class="mb-3">#}
                                {#                                    <label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}</label>#}
                                {#                                    {{ f }}#}
                                {#                                    <div class="invalid-feedback">#}
                                {#                                        {{ f.errors }}#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                                #}
                                <p><label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}</label>{{ f }}</p>
                                <div class="form-error">{{ f.errors }}</div>
                            {% endfor %}

                            <button type="submit" class="btn btn-primary btn-block">Сохранить</button>
                        </form>
                        <hr>
                        <p><a href="{% url 'users:password-change' %}">Сменить пароль</a></p>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- ### /main_content ### -->

{% endblock content %}


