{% extends 'base.html' %}

{% load static %}
{% load site_bar %}
{% load popular_post %}

{% block content %}

    <main class="main m-xxl-0 mx-2">
        <!-- Carousel -->
        {% get_popular %}
        <!-- /Carousel -->

        <!-- breadcrumb -->
        <div class="breadcrumb_main mt-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
                    {% if title != 'Главная' %}
                        <li class="breadcrumb-item">{{ title }}</li>
                    {% endif %}
                </ol>
            </nav>
        </div>
        <!-- /breadcrumb -->

        <!-- description -->
        <div class="main_description ">
            <div class="main_description__title">
                <h1>{{ title }}</h1>
            </div>
            <div class="main_description__content">
                <p class="fs-5"> Добро пожаловать на наш сайт, посвященный книгам и литературе! Мы – команда увлеченных
                    книгоманами,
                    которые верят в силу слова и магию, заключенную в каждой странице. Наша цель – создать пространство,
                    где любители чтения смогут найти вдохновение, обменяться мнениями и открыть для себя новые миры.</p>
                <h2 class="fs-3">Наша миссия</h2>
                <p class="fs-5">Мы стремимся сделать чтение доступным и увлекательным для всех. Наша миссия заключается
                    в том, чтобы
                    привнести радость от чтения в жизнь каждого человека. Мы считаем, что книги – это не просто набор
                    слов на страницах, а настоящие сокровища, которые могут изменить наше восприятие мира, расширить
                    горизонты и углубить понимание человеческой природы.</p>
                <h2 class="fs-3">Наша история</h2>
                <p>Наша история началась несколько лет назад с простой идеи – создать место, где люди могли бы делиться
                    своей любовью к книгам. С тех пор мы выросли в дружную команду, которая работает над тем, чтобы
                    сделать наш сайт еще более удобным и полезным для вас.</p>
                <h2 class="fs-3">Присоединяйтесь к нам!</h2>
                <p>Мы приглашаем вас стать частью нашего книжного сообщества. Подписывайтесь на нашу рассылку, следите
                    за новостями на сайте и не забывайте делиться своими любимыми книгами с нами! Вместе мы сможем
                    создать уникальное пространство для всех любителей литературы.
                </p>
                <p>Спасибо, что выбрали нас! Мы надеемся, что ваше путешествие по миру книг будет увлекательным и
                    вдохновляющим!</p>
            </div>
        </div>
        <!-- /description -->

        <!--  -->
        <!-- / -->


    </main>


{% endblock %}