{#<ul class="dropdown-menu sidebar_filter__dropdown">#}
{#    <li class="row   p-2  d-flex flex-column  ">#}
{#        {% if  series %}#}
{#            <div class="align-content-start flex-wrap  d-flex ">#}
{#                {% for item in series %}#}
{#                    <a href="{{ item.get_absolute_url }}" class="m-2">{{ item.title }} </a>#}
{#                {% endfor series %}#}
{#            </div>#}
{#        {% endif %}#}
{#    </li>#}
{#</ul>#}



<ul class="dropdown-menu sidebar_filter__dropdown">
    <li class="p-2  d-flex flex-row ">
        {% if  series %}
            <div class=" flex-column  d-flex ">

                {% for item in series %}
                    <a href="{{ item.get_absolute_url }}" class="text-nowrap text-start my-1">{{ item.title }} </a>
                    {% if forloop.counter|divisibleby:6 and not forloop.last %}
                        </div>
                        <div class=" flex-column  d-flex ">
                    {% endif %}
                {% endfor series %}
                </div>
        {% endif %}
    </li>
</ul>