<div class=" sidebar_authorization  box_lvl mb-2 p-2">
    <div class="d-grid gap-2">
        {% if user.is_authenticated %}
            <div class=""><p>Привет: {{ user.first_name }}</p></div>
            <a class="btn btn-primary" href="{% url 'users:profile' %}">Профиль</a>
            <a class="btn btn-primary" href="{% url 'users:logout' %}">Выйти</a>

        {% else %}
            <a class="btn btn-primary" href="{% url 'users:register' %}">Регистрация</a>
            <a class="btn btn-primary" href="{% url 'users:login' %}">Авторизация</a>
        {% endif %}

    </div>
</div> <!-- sidebar_authorization -->