{% load static %}
{% load genre %}

<div class="d-flex  mb-2 box_lvl p-1 index_breadcrumb d-block d-xl-none">
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        Жанры
    </button>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
     aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">sidebar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="d-flex  sidebar_container">
            <div class="sidebar_container_row d-flex flex-column  ">

                <div class="border sidebar_genre box_lvl mb-2 p-2">
                    <div class="">
                        <div class="text-center ">Жанры</div>
                        <hr>
                        <div class="genre_items">

                            {% show_genre %}
                        </div>
                    </div>
                </div>

            </div> <!-- -->
        </div> <!-- sidebar_container-->
    </div>
</div>