<ul class="dropdown-menu  sidebar_filter__dropdown">
    <li class="row p-2">
        {% if  genres %}

            {% for item in genres %}
            <div class="col flex-column d-flex">
                <a href="{{ item.get_absolute_url }}">{{ item.title }}</a><span class="badge">{{ item.genre.all.count }}</span>

            </div>
{#            <div class="col flex-column d-flex">#}
{#                <a href="">menu</a>#}
{#                <a href="">menu</a>#}
{#                <a href="">menu</a>#}
{#                <a href="">menu</a>#}
{#            </div>#}
            {% endfor genres %}
        {% endif %}
    </li>

</ul>