{% extends 'base.html' %}

{% load static %}
{% load site_bar %}
{% block content %}

    <main class="main m-xxl-0 mx-2">
        <div class="container d-none d-lg-block">
            <div class="row">
                <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active " data-bs-interval="4000">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="on-hover _ibg">
                                            <img src="" alt="">
                                            <div class="hidden-block d-flex justify-content-center align-items-end">
                                                <p>Иванов Книга </p>
                                            </div>

                                        </div>
                                        <p>Иванов Книга</p>
                                    </div>
                                    <div class="col">
                                        <div class="on-hover _ibg">
                                            <img src="assets/img/books/books_preview/1361266751_default.jpeg" alt="">
                                            <div class="hidden-block d-flex justify-content-center align-items-end">
                                                <p>Иванов Книга </p>
                                            </div>

                                        </div>
                                        <p>Иванов Книга</p>
                                    </div>
                                    <div class="col">
                                        <div class="on-hover _ibg">
                                            <img src="assets/img/books/books_preview/1361266751_default.jpeg" alt="">
                                            <div class="hidden-block d-flex justify-content-center align-items-end">
                                                <p>Иванов Книга </p>
                                            </div>

                                        </div>
                                        <p>Иванов Книга</p>
                                    </div>
                                    <div class="col">
                                        <div class="on-hover _ibg">
                                            <img src="assets/img/books/books_preview/1361266751_default.jpeg" alt="">
                                            <div class="hidden-block d-flex justify-content-center align-items-end">
                                                <p>Иванов Книга </p>
                                            </div>

                                        </div>
                                        <p>Иванов Книга</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="4000">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="on-hover _ibg">
                                            <img src="assets/img/books/books_preview/kr2bfo46ow.jpg" alt="">
                                            <div class="hidden-block d-flex justify-content-center align-items-end">
                                                <p>Иванов Книга </p>
                                            </div>

                                        </div>
                                        <p>Иванов Книга</p>
                                    </div>
                                    <div class="col">
                                        <div class="on-hover _ibg">
                                            <img src="assets/img/books/books_preview/kr2bfo46ow.jpg" alt="">
                                            <div class="hidden-block d-flex justify-content-center align-items-end">
                                                <p>Иванов Книга </p>
                                            </div>

                                        </div>
                                        <p>Иванов Книга</p>
                                    </div>
                                    <div class="col">
                                        <div class="on-hover _ibg">
                                            <img src="assets/img/books/books_preview/kr2bfo46ow.jpg" alt="">
                                            <div class="hidden-block d-flex justify-content-center align-items-end">
                                                <p>Иванов Книга </p>
                                            </div>

                                        </div>
                                        <p>Иванов Книга</p>
                                    </div>
                                    <div class="col">
                                        <div class="on-hover _ibg">
                                            <img src="assets/img/books/books_preview/kr2bfo46ow.jpg" alt="">
                                            <div class="hidden-block d-flex justify-content-center align-items-end">
                                                <p>Иванов Книга </p>
                                            </div>

                                        </div>
                                        <p>Иванов Книга</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="4000">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="on-hover _ibg">
                                            <img src="assets/img/books/books_preview/g1d55ps45n.jpg" alt="">
                                            <div class="hidden-block d-flex justify-content-center align-items-end">
                                                <p>Иванов Книга </p>
                                            </div>

                                        </div>
                                        <p>Иванов Книга</p>
                                    </div>
                                    <div class="col">
                                        <div class="on-hover _ibg">
                                            <img src="assets/img/books/books_preview/g1d55ps45n.jpg" alt="">
                                            <div class="hidden-block d-flex justify-content-center align-items-end">
                                                <p>Иванов Книга </p>
                                            </div>

                                        </div>
                                        <p>Иванов Книга</p>
                                    </div>
                                    <div class="col">
                                        <div class="on-hover _ibg">
                                            <img src="assets/img/books/books_preview/g1d55ps45n.jpg" alt="">
                                            <div class="hidden-block d-flex justify-content-center align-items-end">
                                                <p>Иванов Книга </p>
                                            </div>

                                        </div>
                                        <p>Иванов Книга</p>
                                    </div>
                                    <div class="col">
                                        <div class="on-hover _ibg">
                                            <img src="assets/img/books/books_preview/g1d55ps45n.jpg" alt="">
                                            <div class="hidden-block d-flex justify-content-center align-items-end">
                                                <p>Иванов Книга </p>
                                            </div>

                                        </div>
                                        <p>Иванов Книга</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!-- breadcrumb -->
        <div class="breadcrumb_main ">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
                    {% if title != 'Главная' %}
                        <li class="breadcrumb-item">{{ title }}</li>
                    {% endif %}
                </ol>
            </nav>
        </div>
        <!-- /breadcrumb -->

        <!-- description -->
        <div class="main_description ">
            <div class="main_description__title">
                <h1>Добро пожаловать в мир книг!</h1>
            </div>
            <div class="main_description__content">
                <p> Наш сайт — это уютное пространство для всех любителей литературы. Здесь вы найдете разнообразные
                    жанры: от классики до современного фэнтези, от захватывающих детективов до вдохновляющих биографий.
                    Мы предлагаем тщательно отобранные книги, которые обогатят ваш внутренний мир и подарят незабываемые
                    эмоции.</p>
                <p>Погружайтесь в мир литературы вместе с нами! Ваши новые приключения начинаются здесь.</p>
            </div>
        </div>
        <!-- /description -->

        <!--  -->
        <!-- / -->

        <!-- site bar filter -->
        <div class="sidebar mb-3">

            <div class="sidebar__main ">

                <div class="row sidebar_main__filter ">
                    <div class="col-md col-12 m-md-0 mb-2">
                        <div class=" dropdown sidebar_filter">
                            <button class="btn w-100 dropdown-toggle  sidebar_filter__btn" type="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Жанры
                            </button>

                            <!-- genres -->
                            {% show_genre %}
                            <!-- /genres -->

                        </div>
                    </div>
                    <div class="col-md col-12 m-md-0 mb-2">
                        <div class=" dropdown sidebar_filter">
                            <button class="btn w-100 dropdown-toggle sidebar_filter__btn" type="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Авторы
                            </button>
                            <ul class="dropdown-menu sidebar_filter__dropdown">
                                <li class="row p-2">
                                    <div class="col flex-column d-flex">
                                        <a href="">menu</a>
                                        <a href="">menu</a>
                                        <a href="">menu</a>
                                        <a href="">menu</a>
                                    </div>
                                    <div class="col flex-column d-flex">
                                        <a href="">menu</a>
                                        <a href="">menu</a>
                                        <a href="">menu</a>
                                        <a href="">menu</a>
                                    </div>

                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md col-12 m-md-0 mb-2">
                        <div class=" dropdown sidebar_filter">
                            <button class="btn w-100 dropdown-toggle sidebar_filter__btn" type="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Жанры
                            </button>
                            <ul class="dropdown-menu sidebar_filter__dropdown">
                                <li class="row p-2">
                                    <div class="col flex-column d-flex">
                                        <a href="">menu</a>
                                        <a href="">menu</a>
                                        <a href="">menu</a>
                                        <a href="">menu</a>
                                    </div>
                                    <div class="col flex-column d-flex">
                                        <a href="">menu</a>
                                        <a href="">menu</a>
                                        <a href="">menu</a>
                                        <a href="">menu</a>
                                    </div>

                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md col-12 m-md-0 mb-2">
                        <div class=" dropdown sidebar_filter">
                            <button class="btn w-100 dropdown-toggle sidebar_filter__btn" type="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Сортировка
                            </button>
                            <ul class="dropdown-menu sidebar_filter__dropdown">
                                <li class="row p-2">
                                    <form action="{% url 'sorted' %}" method="get">
                                        <div class="col flex-column d-flex">

                                            <button class="but_sort m-2" type="submit" name="sort" value="views">
                                                популярные
                                            </button>
                                            <button class="but_sort m-2" type="submit" name="sort" value="time_create">
                                                Новые
                                            </button>
                                            <button class="but_sort m-2" type="submit" name="sort" value="-time_create">
                                                Старые
                                            </button>
                                            <button class="but_sort m-2" type="submit" name="sort" value="year">Год выпуска
                                            </button>

                                        </div>
                                    </form>


                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row sidebar_main__tag my-3">
                    <div class="d-flex">
                        <a href="">
                            <div class="tag me-3">Популярные</div>
                        </a>
                    </div>

                </div>
                <div class="close_filter">
                    <a href="{% url 'home' %}">
                        <i class="fa-regular fa-circle-xmark "></i>
                        Сбросить фильтры</a>
                </div>
            </div>

        </div>

        <!-- /site bar filter -->

        <div class="main_book">
            <div class="container-fluid ">
                <div class="d-flex flex-row  flex-wrap">
                    {% for post  in posts %}
                        <div class="main_item m-2 d-flex flex-column ">
                            <div class="on-hover _ibg">


                                {% if post.photo_preview %}
                                    <img src="{{ post.photo_preview.url }}" alt="{{ post.title }}">
                                {% else %}
                                    <img src="{% static 'img/no_image.png' %}" alt="{{ post.title }}">
                                {% endif %}


                                <a href="{{ post.get_absolute_url }}">
                                    <div class="hidden-block d-flex justify-content-start align-items-end ">
                                        <div class="p-2 d-flex flex-column justify-content-start ">

                                            {#                                            <div class=""><p>S: S.T.A.L.K.E.R.</p></div>#}
                                            {#                                            <div class=""><p># 5</p></div>#}
                                            <div class=""><p><i
                                                    class="fa-solid fa-calendar-days fa-sm"></i> {{ post.year }}</p>
                                            </div>
                                            <div class=""><p><i class="fa-solid fa-at fa-sm"></i> {{ post.author }}</p>
                                            </div>
                                            <div class=""><p><i class="fa-solid fa-eye fa-sm"></i> {{ post.views }}</p>
                                            </div>


                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="mt-2 main_item__title text-center">
                                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>

                            </div>

                        </div>
                    {% endfor %}


                </div>
            </div>

        </div>

    </main>

{% endblock %}