{% extends 'base.html' %}

{% block content %}




    <main class="main m-xxl-0 mx-2">
        <!-- breadcrumb -->
        <div class="breadcrumb_main ">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
                    {% if post.series %}
                        <li class="breadcrumb-item"><a href="{{ post.series.get_absolute_url }}">{{ post.series }}</a>
                        </li>
                    {% endif %}
                    <li class="breadcrumb-item">{{ post.title }}</li>
                </ol>
            </nav>
        </div>
        <!-- /breadcrumb -->


        <!--  -->
        <!-- / -->


        <div class="main_book">
            <div class="container-fluid ">
                <div class=" 1floor ">
                    <div class="container-fluid">
                        <div class="d-flex flex-column flex-md-row">
                            <div class="post_title d-block d-md-none  "><h1>Юрий Смирнов — Калейдоскоп</h1></div>
                            <div class="">
                                <div class="post_image _ibg m-3">
                                    <img src="assets/img/books/books_preview/g1d55ps45n.jpg" alt="">
                                </div>
                            </div>

                            <div class="post_characteristics  ">
                                <div class="d-flex flex-column w-100">
                                    <div class="post_title d-none d-md-block text-center"><h1 data-text="back in black">
                                        back in black</h1></div>

                                    <p>Жанр: <a href="#">Фантастика</a> <a href="#">S.T.A.L.K.E.R.</a>
                                    </p>
                                    <p>Серия: <a href="#">S.T.A.L.K.E.R.</a></p>
                                    <p>Номер книги в серии: 5</p>
                                    <p>Автор: <a href="#">Орехов Василий</a></p>
                                    <p>Год: 2020</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!--  -->
                <div class="post_description my-2">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet fuga laborum perspiciatis! A
                        accusamus accusantium alias architecto, consequatur doloremque et fugiat modi nisi numquam
                        pariatur quod, repudiandae sapiente veritatis voluptatum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet fuga laborum perspiciatis! A
                        accusamus accusantium alias architecto, consequatur doloremque et fugiat modi nisi numquam
                        pariatur quod, repudiandae sapiente veritatis voluptatum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet fuga laborum perspiciatis! A
                        accusamus accusantium alias architecto, consequatur doloremque et fugiat modi nisi numquam
                        pariatur quod, repudiandae sapiente veritatis voluptatum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet fuga laborum perspiciatis! A
                        accusamus accusantium alias architecto, consequatur doloremque et fugiat modi nisi numquam
                        pariatur quod, repudiandae sapiente veritatis voluptatum.</p>
                </div>
                <div class="post_download d-flex justify-content-end mx-3">Скачать</div>

                <div class="3floor">
                    <div class="">
                        <h2>Все книги серии:</h2>
                    </div>
                    <div class="">
                        <div class="d-flex flex-row  flex-wrap">
                            <div class=" m-2">
                                <div class="on-hover _ibg">
                                    <img src="assets/img/books/books_preview/g1d55ps45n.jpg" alt="">
                                    <div class="hidden-block d-flex justify-content-start align-items-end ">
                                        <div class="p-1 d-flex flex-column justify-content-start ">
                                            <div class=""><p>Ж: Фантастика S.T.A.L.K.E.R.</p></div>
                                            <div class=""><p>S: S.T.A.L.K.E.R.</p></div>
                                            <div class=""><p># 5</p></div>
                                            <div class=""><p>Автор: Орехов Василий</p></div>
                                            <div class=""><p>Год: 2020</p></div>

                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <p>Иванов Книга</p>
                                </div>
                            </div>
                            <div class=" m-2">
                                <div class="on-hover _ibg">
                                    <img src="assets/img/books/books_preview/g1d55ps45n.jpg" alt="">
                                    <div class="hidden-block d-flex justify-content-center align-items-end">
                                        <p>Иванов Книга </p>
                                    </div>
                                </div>
                                <p>Иванов Книга</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="4floor">
                    <div class="d-flex justify-content-between">
                        <div class="">
                            <h2>Комментарии: 2</h2>
                        </div>
                        <div class="">
                            <a href="" data-bs-toggle="modal" data-bs-target="#commentModal">Оставить комментарий</a>
                        </div>
                    </div>
                    <div class="comment_block">
                        <div class="container-fluid d-none d-lg-block">
                            <div class="row">
                                <div id="carouselExample" class="carousel slide ">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active ">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col  mx-3">
                                                        <div class="comment_item">
                                                            <div class="">admin</div>
                                                            <div class="py-3 comment_item__text">this is good!!</div>
                                                            <div class="d-flex justify-content-between">
                                                                <div class="">10 августа 2024</div>
                                                                <div class="">like</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col  mx-3">
                                                        <div class="comment_item">
                                                            <div class="">admin</div>
                                                            <div class="py-3 comment_item__text">this is good!!</div>
                                                            <div class="d-flex justify-content-between">
                                                                <div class="">10 августа 2024</div>
                                                                <div class="">like</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col  mx-3">
                                                        <div class="comment_item">
                                                            <div class="">admin</div>
                                                            <div class="py-3 comment_item__text">this is good!!</div>
                                                            <div class="d-flex justify-content-between">
                                                                <div class="">10 августа 2024</div>
                                                                <div class="">like</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col  mx-3">
                                                        <div class="comment_item">
                                                            <div class="">admin</div>
                                                            <div class="py-3 comment_item__text">this is good!!</div>
                                                            <div class="d-flex justify-content-between">
                                                                <div class="">10 августа 2024</div>
                                                                <div class="">like</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item ">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col  mx-3">
                                                        <div class="comment_item">
                                                            <div class="">admin</div>
                                                            <div class="py-3 comment_item__text">this this is good!is
                                                                good!!
                                                            </div>
                                                            <div class="d-flex justify-content-between">
                                                                <div class="">10 августа 2024</div>
                                                                <div class="">like</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col  mx-3">
                                                        <div class="comment_item">
                                                            <div class="">admin</div>
                                                            <div class="py-3 comment_item__text">this is good!!</div>
                                                            <div class="d-flex justify-content-between">
                                                                <div class="">10 августа 2024</div>
                                                                <div class="">like</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col  mx-3">
                                                        <div class="comment_item">
                                                            <div class="">admin</div>
                                                            <div class="py-3 comment_item__text">this is good!!</div>
                                                            <div class="d-flex justify-content-between">
                                                                <div class="">10 августа 2024</div>
                                                                <div class="">like</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col  mx-3">
                                                        <div class="comment_item">
                                                            <div class="">admin</div>
                                                            <div class="py-3 comment_item__text">this is good!!</div>
                                                            <div class="d-flex justify-content-between">
                                                                <div class="">10 августа 2024</div>
                                                                <div class="">like</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <button class="carousel-control-prev d-flex justify-content-start" type="button"
                                            data-bs-target="#carouselExample" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next d-flex justify-content-end" type="button"
                                            data-bs-target="#carouselExample" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>



{% endblock %}