{% extends 'base.html' %}
{% load static %}
{% block content %}




    <main class="main m-xxl-0 mx-2">
        <!-- breadcrumb -->
        <div class="breadcrumb_main ">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
                    {% if post.series %}
                        <li class="breadcrumb-item"><a href="{{ post.series.get_absolute_url }}">{{ post.series }}</a>
                        </li>
                    {% endif %}
                    <li class="breadcrumb-item">{{ post.title }}</li>
                </ol>
            </nav>
        </div>
        <!-- /breadcrumb -->


        <!--  -->
        <!-- / -->


        <div class="main_book">
            <div class="container-fluid ">
                <!-- post header -->
                <div class=" 1floor ">
                    <div class="container-fluid">
                        <div class="d-flex flex-column flex-md-row">
                            <div class="post_title d-block d-md-none  "><h1>{{ post.title }}</h1></div>
                            <div class="">

                                <div class="post_image _ibg m-3">
                                    {% if post.photo_post %}
                                        <img src="{{ post.photo_post.url }}" alt="{{ post.title }}">

                                    {% else %}
                                        <img src="{% static 'img/no_image.png' %}" alt="{{ post.title }}">
                                    {% endif %}

                                </div>
                            </div>

                            <div class="post_characteristics  d-flex flex-column mb-3">
                                <div class="d-flex flex-column w-100 post_characteristics__details">
                                    <div class="post_title d-none d-md-block text-center "><h1
                                            data-text="back in black">
                                        {{ post.title }}</h1></div>
                                    <div class="fs-5">
                                        <p>Жанр:
                                            {% for g in post.genre.all %}

                                                <a href="{{ g.get_absolute_url }}">{{ g.title }}</a>
                                            {% endfor %}
                                        </p>
                                        {% if post.series %}
                                            <p>Серия: <a href="{{ post.series.get_absolute_url }}">{{ post.series }}</a>
                                            </p>
                                        {% endif %}
                                        <p>Номер книги в серии: {{ post.number_series }}</p>
                                        <p>Автор: <a href="{{ post.author.get_absolute_url }}">{{ post.author }}</a></p>
                                        <p>Год: {{ post.year }}</p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-around ">
                                    <div class="pe-3"><i class="fa-regular fa-clock"></i>
                                        {{ post.time_create|date:"d-m-Y H:i" }}
                                    </div>
                                    <div class="pe-3"><i class="fa-regular fa-clock"></i>
                                        {{ post.time_create|timesince }}
                                        {#  timesince  Сколько прошло времени от создания   #}
                                    </div>
                                    <div class="pe-3"><i class="fa-solid fa-eye"></i> {{ post.views }}</div>
                                    <div class="pe-3 "><i
                                            class="fa-regular fa-comment-dots"></i> {{ post.comment.all.count }}</div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /post header -->

                <!-- post description -->
                <div class="post_description fs-5 my-2">
                    {{ post.content|safe }}
                </div>
                {% if post.origin %}
                    <div class="">Источник: {{ post.origin }}</div>
                {% endif %}
                <!-- /post description -->

                <!-- text -->
                <div class="text-end mb-3">
                    {% if post.file_book %}
                        <a href="{{ post.file_book.url }}">
                            <button type="button" class="btn  navbar_search__btn ">Скачать
                                fb-2
                            </button>
                        </a>


                    {% endif %}
                </div>
                <!-- /text -->

                <!-- post series -->
                {% if post.series %}
                    <div class="3floor">
                        <div class="">
                            <h2>Все книги серии:</h2>
                        </div>
                        <div class="d-flex flex-row  flex-wrap">
                            {% if series_book %}


                                {% for s in series_book %}
                                    <div class="main_item m-2 d-flex flex-column ">
                                        <div class="on-hover _ibg">


                                            {% if post.photo_preview %}
                                                <img src="{{ s.photo_preview.url }}" alt="{{ s.title }}">
                                            {% else %}
                                                <img src="{% static 'img/no_image.png' %}" alt="{{ s.title }}">
                                            {% endif %}


                                            <a href="{{ s.get_absolute_url }}">
                                                <div class="hidden-block d-flex justify-content-start align-items-end ">
                                                    <div class="p-2 d-flex flex-column justify-content-start ">

                                                        <div class=""><p><i
                                                                class="fa-solid fa-calendar-days fa-sm"></i> {{ s.year }}
                                                        </p>
                                                        </div>
                                                        <div class=""><p><i
                                                                class="fa-solid fa-at fa-sm"></i> {{ s.author }}</p>
                                                        </div>
                                                        <div class=""><p><i
                                                                class="fa-solid fa-eye fa-sm"></i> {{ s.views }}</p>
                                                        </div>


                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="mt-2 main_item__title text-center">
                                            <a href="{{ s.get_absolute_url }}">Книга {{ s.number_series }}: {{ s.title }}</a>

                                        </div>

                                    </div>

                                {% endfor %}
                            {% endif %}
                        </div>

                    </div>
                {% endif %}
                <!-- /post series -->

                <!-- post comment -->
                <div class="main_comment">
                    <div class="d-flex justify-content-between">
                        <div class="">
                            <h2>Комментарии: {{ post.comment.all.count }}</h2>
                        </div>
                        <div class="">
                            {% if user.is_authenticated %}
                                <a href="" data-bs-toggle="modal" data-bs-target="#commentModal">Оставить
                                    комментарий</a>

                            {% else %}
                                <div class="d-flex">
                                    <p class="px-2">Для добавления комментария: </p>
                                    <form action="{% url 'login' %}?next={{ request.path }}" method="post">
                                        {% csrf_token %}


                                        <input type="submit" value="авторизуйтесь">
                                    </form>

                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% if post.comment.all %}
                        <div class="comment_block">
                            <div class="container-fluid d-none d-lg-block">
                                <div class="row">
                                    <div id="carouselExample" class="carousel slide ">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active ">
                                                <div class="container-fluid position-relative">
                                                    <div class="row ">
                                                        {% for com in post.comment.all %}

                                                            <div class="col  mx-3">
                                                                <div class="comment_item">
                                                                    <div class="">
                                                                        {{ com.author.username|default:"Пользователь удален" }}:

                                                                    </div>
                                                                    <div class="py-3 comment_item__text">
                                                                        <a href="">
                                                                            <div class="overlay">
                                                                                {{ com.content }}
                                                                            </div>
                                                                            {{ com.content|truncatechars:110 }}
                                                                        </a>
                                                                    </div>


                                                                    <div class="d-flex justify-content-between  align-items-center">
                                                                        <div class="">{{ com.time_create }}</div>
                                                                        <div class="">
                                                                            {% if com.author.id == user.id %}
                                                                                <div class="">
                                                                                    <!-- Button trigger modal -->
                                                                                    <button type="button"
                                                                                            class="btn button_comment"
                                                                                            data-bs-toggle="modal"
                                                                                            data-bs-target="#staticBackdrop">
                                                                                        Удалить
                                                                                    </button>

                                                                                    <!-- Modal -->
                                                                                    <div class="modal fade"
                                                                                         id="staticBackdrop"
                                                                                         data-bs-backdrop="static"
                                                                                         data-bs-keyboard="false"
                                                                                         tabindex="-1"
                                                                                         aria-labelledby="staticBackdropLabel"
                                                                                         aria-hidden="true">
                                                                                        <div class="modal-dialog">
                                                                                            <div class="modal-content">
                                                                                                <div class="modal-header">

                                                                                                    <button type="button"
                                                                                                            class="btn-close"
                                                                                                            data-bs-dismiss="modal"
                                                                                                            aria-label="Close"></button>
                                                                                                </div>
                                                                                                <div class="modal-body">
                                                                                                    <p>Удалить
                                                                                                        комментарий
                                                                                                        ?</p>
                                                                                                </div>
                                                                                                <div class="modal-footer">
                                                                                                    <button type="button"
                                                                                                            class="btn btn-secondary"
                                                                                                            data-bs-dismiss="modal">
                                                                                                        Закрыть
                                                                                                    </button>
                                                                                                    <button type="button"
                                                                                                            class="btn btn-primary">
                                                                                                        <a
                                                                                                                href="{% url 'delete_comment' com.pk %}">Удалить</a>
                                                                                                    </button>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                            {% endif %}

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            {% if forloop.counter|divisibleby:4 and not forloop.last %}
                                                                </div>
                                                                </div>
                                                                </div>
                                                                <div class="carousel-item">
                                                                <div class="container-fluid">
                                                                <div class="row">
                                                            {% endif %}

                                                        {% endfor %}
                                                        </div>
                                                        </div>
                                                        </div>
                                        </div>
                                        <button class="carousel-control-prev d-flex justify-content-start" type="button"
                                                data-bs-target="#carouselExample" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next d-flex justify-content-end" type="button"
                                                data-bs-target="#carouselExample" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>


                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <!-- /post comment -->
            </div>
        </div>
    </main>

    <!-- Modal comment-->
    <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Оставить комментарий</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <form action="{% url 'create_comment' pk=post.id %}" method="post">
                    <div class="modal-body">


                        {% csrf_token %}
                        <div class="form-floating">
                            {{ form.content }}
                            <label for="floatingTextarea2">Оставить комментарий</label>
                            <div class="invalid-feedback">
                                {{ form.content.errors }}
                            </div>
                        </div>
                        {{ form.non_field_errors }}
                        {#        общие ошибки      #}

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Отмена
                        </button>
                        <button type="submit" class="btn btn-primary">Отправть</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /Modal comment-->


{% endblock %}
