{% extends 'base.html' %}

{% block content %}




    <main class="main m-xxl-0 mx-2">
        <!-- breadcrumb -->
        <div class="breadcrumb_main ">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
                    <li class="breadcrumb-item">{{ title }}</li>
                </ol>
            </nav>
        </div>
        <!-- /breadcrumb -->


        <!--  -->
        <!-- / -->

        <div class="">
            {% if user.is_authenticated %}
                <p>Для регистрации нужно выйти из аккаунта</p>
            {% else %}
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="next" , value="{{ next }}"/>
                    <div class="">{{ form.non_field_errors }}</div>
                    {% for f in form %}
                        <div class="mb-3">
                            <label for="{{ f.id_for_label }}"
                                   class="col-sm-3 col-form-label">{{ f.label }}</label>
                            <div class="col-sm">
                                {{ f }}
                            </div>

                            <div class="text_danger">
                                <p></p>
                                {{ f.errors }}
                            </div>
                        </div>
                    {% endfor %}

                    <button type="submit" class="btn navbar_search__btn btn-block">Регистрация</button>
                </form>
            {% endif %}

        </div>


    </main>



{% endblock %}