{% extends "base.html" %}
{% load static %}


{% block content %}

<!-- ########### header ############################ -->
<header class="header box mb-2 parallax">
<div class="parallax__body rounded">
    <div class="header_top  p-1   parallax__container ">
    <div class="parralax_label">Литература</div>
    <h1 class="parallax__title">Всё о книгах </h1>
    </div> <!-- header_top -->
    <div class="parallax__images images-parralax">
    <div class="images-parralax__item">
        <div class="images-parralax__fon"></div>
    </div>
    <div class="images-parralax__item">
        <div class="images-parralax__forest"></div>
    </div>
    <div class="images-parralax__item">
        <div class="images-parralax__book"></div>
    </div>
    </div> <!-- parallax__images-->
</div> <!-- parallax__body-->
</header> <!-- header -->
<!-- ########### /header ############################ -->

<!-- ########### main ############################## -->
<main class="main d-flex">
<div class="main_container container-fluid">
<div class="main_container_row row d-flex flex-row">
<!-- ######## index ########## -->
<container class="col-xl-9 box me-2 d-flex flex-column index">

<!-- ### Хлебные крошки  жанры ### -->
<div class="d-flex  mb-2 box_lvl p-1 index_breadcrumb d-none d-xl-block">
<nav aria-label="">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>
</nav>
</div>
<div class="d-flex  mb-2 box_lvl p-1 index_breadcrumb d-block d-xl-none">
<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    Жанры
</button>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
aria-labelledby="offcanvasExampleLabel">
<div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">sidebar</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
    <div class="d-flex  sidebar_container">
    <div class="sidebar_container_row d-flex flex-column  ">

        <div class="border sidebar_genre box_lvl mb-2 p-2">
        <div class="">
            <div class="text-center ">Жанры</div>
            <hr>
            <div class="genre_items">
            <ul class="genre_items_ul">
                <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                <div class="me-2"><a href="">Боевик</a></div>
                <div class="genre_item_p"></div>
                <span class="badge">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                <div class="me-2"><a href="">Вселенная метро 2033</a></div>
                <div class="genre_item_p"></div>
                <span class="badge">255</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                <div class="me-2"><a href="">Вселенная метро 2033</a></div>
                <div class="genre_item_p"></div>
                <span class="badge">255</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                <div class="me-2"><a href="">Вселенная метро 2033</a></div>
                <div class="genre_item_p"></div>
                <span class="badge">255</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                <div class="me-2"><a href="">Вселенная метро 2033</a></div>
                <div class="genre_item_p"></div>
                <span class="badge">255</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                <div class="me-2"><a href="">Вселенная метро 2033</a></div>
                <div class="genre_item_p"></div>
                <span class="badge">255</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                <div class="me-2"><a href="">Вселенная метро 2033</a></div>
                <div class="genre_item_p"></div>
                <span class="badge">255</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                <div class="me-2"><a href="">Вселенная метро 2033</a></div>
                <div class="genre_item_p"></div>
                <span class="badge">255</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                <div class="me-2"><a href="">Вселенная метро 2033</a></div>
                <div class="genre_item_p"></div>
                <span class="badge">255</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                <div class="me-2"><a href="">Триллер</a></div>
                <div class="genre_item_p"></div>
                <span class="badge">25</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                <div class="me-2"><a href="">Триллер</a></div>
                <div class="genre_item_p"></div>
                <span class="badge">25</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                <div class="me-2"><a href="">Warhammer 40000</a></div>
                <div class="genre_item_p"></div>
                <span class="badge">8</span>
                </li>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                <div class="me-2"><a href="">Warhammer 40000</a></div>
                <div class="genre_item_p"></div>
                <span class="badge">8</span>
                </li>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                <div class="me-2"><a href="">Warhammer 40000</a></div>
                <div class="genre_item_p"></div>
                <span class="badge">8</span>
                </li>

            </ul>
            </div>
        </div>
        </div>

    </div> <!-- -->
    </div> <!-- sidebar_container-->
</div>
</div>
<!-- ### /Хлебные крошки  жанры ### -->

<!-- ### main_content ### -->
<div class="main_content  box_lvl p-1 mb-2">
<div class="main_content_container p-1 ">
    <div class="container">
    <div class="row">
        <div class=" text-center">Жанр: Хоррор</div>
        <hr>
    </div>
    </div>

    <div class="container books">
    <div class="books_row row">
        <!-- ### CARD_1 ### -->
        <div class="">
        <div
            class="col  books_item item_books d-flex align-items-center flex-md-row flex-column align-items-md-stretch p-2">
            <h2 class="item_books__header d-block d-md-none text-center"><a href="book.html">S.T.A.L.K.E.R. 01.
                Тadуawdмановский Ежи и Дядищев
                Александр - Тени Чернобыля. Клык</a></h2>
            <div class="item_books__image  justify-content-center border_black">
            <a href="book.html"><img src="{% static 'img/books/books_preview/1382144301_default.jpeg' %}" alt=""></a>
            </div>
            <div class="item_books__description p-2 d-flex flex-column">
            <div class="item_books_UP">
                <h2 class="item_books__header d-none d-md-block"><a href="book.html">S.T.A.l.K.E.R. 01. Тумановский
                    Ежи и Дядищев
                    Александр - Тени Чернобыля. Клык</a></h2>
                <p>Жанр: <a href="#">Фантастика</a> <a href="#">S.T.A.L.K.E.R.</a></p>
                <p>Серия: <a href="#">S.T.A.L.K.E.R.</a></p>
                <p>Номер книги в серии: 5</p>
                <p>Автор: <a href="#">Орехов Василий</a></p>
                <p>Год: 2020</p>
            </div>
            <button class="btn d-block d-sm-none border_black"><a href="book.html">Подробнее</a></button>
            <div class="item_books_down d-none d-sm-flex justify-content-between ">
                <div class="d-flex align-items-center">
                <div class="pe-3"><i class="fa-regular fa-clock"></i>06 фев 2021, 05:33</div>
                <div class="pe-3"><i class="fa-regular fa-comment-dots"></i> 3</div>
                <div class="pe-3"><i class="fa-solid fa-eye"></i> 188</div>
                <div class="rating-area ">
                    <input type="radio" id="star-5" name="rating" value="5">
                    <label for="star-5" title="Оценка «5»"></label>
                    <input type="radio" id="star-4" name="rating" value="4">
                    <label for="star-4" title="Оценка «4»"></label>
                    <input type="radio" id="star-3" name="rating" value="3">
                    <label for="star-3" title="Оценка «3»"></label>
                    <input type="radio" id="star-2" name="rating" value="2">
                    <label for="star-2" title="Оценка «2»"></label>
                    <input type="radio" id="star-1" name="rating" value="1">
                    <label for="star-1" title="Оценка «1»"></label>
                </div>
                </div>
                <div class="">
                <button class="btn"><a href="book.html">Поддробнее</a></button>
                </div>
            </div>
            </div>
        </div>
        <hr class="mb-2">
        </div>
        <!-- ### /CARD_1 ### -->
        <!-- ### CARD_2 ### -->
        <div class="">
        <div
            class="col  books_item item_books d-flex align-items-center flex-md-row flex-column align-items-md-stretch p-2">
            <h2 class="item_books__header d-block d-md-none text-center"><a href="#">S.T.A.L.K.E.R. 01.
                Тумановский Ежи и Дядищев
                Александр - Тени Чернобыля. Клык</a></h2>
            <div class="item_books__image  justify-content-center border_black">
            <a href="#"><img src="assets/img/books/books_preview/07g9k0los8.jpg" alt=""></a>
            </div>
            <div class="item_books__description p-2 d-flex flex-column">
            <div class="item_books_UP">
                <h2 class="item_books__header d-none d-md-block"><a href="#">S.T.A.L.K.E.R. 01. Тумановский
                    Ежи и Дядищев
                    Александр - Тени Чернобыля. Клык</a></h2>
                <p>Жанр: <a href="#">Фантастика</a> <a href="#">S.T.A.L.K.E.R.</a></p>
                <p>Серия: <a href="#">S.T.A.L.K.E.R.</a></p>
                <p>Номер книги в серии: 5</p>
                <p>Автор: <a href="#">Орехов Василий</a></p>
                <p>Год: 2020</p>
            </div>
            <button class="btn d-block d-sm-none border_black">Поддробнее</button>
            <div class="item_books_down d-none d-sm-flex justify-content-between ">
                <div class="d-flex align-items-center">
                <div class="pe-3"><i class="fa-regular fa-clock"></i>06 фев 2021, 05:33</div>
                <div class="pe-3"><i class="fa-regular fa-comment-dots"></i> 3</div>
                <div class="rating-area ">
                    <input type="radio" id="star-5" name="rating" value="5">
                    <label for="star-5" title="Оценка «5»"></label>
                    <input type="radio" id="star-4" name="rating" value="4">
                    <label for="star-4" title="Оценка «4»"></label>
                    <input type="radio" id="star-3" name="rating" value="3">
                    <label for="star-3" title="Оценка «3»"></label>
                    <input type="radio" id="star-2" name="rating" value="2">
                    <label for="star-2" title="Оценка «2»"></label>
                    <input type="radio" id="star-1" name="rating" value="1">
                    <label for="star-1" title="Оценка «1»"></label>
                </div>
                </div>
                <div class="">
                <button class="btn">Поддробнее</button>
                </div>
            </div>
            </div>
        </div>
        <hr class="mb-2">
        </div>
        <!-- ### /CARD_2 ### -->
        <!-- ### CARD_3 ### -->
        <div class="">
        <div
            class="col  books_item item_books d-flex align-items-center flex-md-row flex-column align-items-md-stretch p-2">
            <h2 class="item_books__header d-block d-md-none text-center"><a href="#">S.T.A.L.K.E.R. 01.
                Тумановский Ежи и Дядищев
                Александр - Тени Чернобыля. Клык</a></h2>
            <div class="item_books__image  justify-content-center border_black">
            <a href="#"><img src="assets/img/books/books_preview/1361266751_default.jpeg" alt=""></a>
            </div>
            <div class="item_books__description p-2 d-flex flex-column">
            <div class="item_books_UP">
                <h2 class="item_books__header d-none d-md-block"><a href="#">S.T.A.L.K.E.R. 01. Тумановский
                    Ежи и Дядищев
                    Александр - Тени Чернобыля. Клык</a></h2>
                <p>Жанр: <a href="#">Фантастика</a> <a href="#">S.T.A.L.K.E.R.</a></p>
                <p>Серия: <a href="#">S.T.A.L.K.E.R.</a></p>
                <p>Номер книги в серии: 5</p>
                <p>Автор: <a href="#">Орехов Василий</a></p>
                <p>Год: 2020</p>
            </div>
            <button class="btn d-block d-sm-none border_black">Поддробнее</button>
            <div class="item_books_down d-none d-sm-flex justify-content-between ">
                <div class="d-flex align-items-center">
                <div class="pe-3"><i class="fa-regular fa-clock"></i>06 фев 2021, 05:33</div>
                <div class="pe-3"><i class="fa-regular fa-comment-dots"></i> 3</div>
                <div class="rating-area ">
                    <input type="radio" id="star-5" name="rating" value="5">
                    <label for="star-5" title="Оценка «5»"></label>
                    <input type="radio" id="star-4" name="rating" value="4">
                    <label for="star-4" title="Оценка «4»"></label>
                    <input type="radio" id="star-3" name="rating" value="3">
                    <label for="star-3" title="Оценка «3»"></label>
                    <input type="radio" id="star-2" name="rating" value="2">
                    <label for="star-2" title="Оценка «2»"></label>
                    <input type="radio" id="star-1" name="rating" value="1">
                    <label for="star-1" title="Оценка «1»"></label>
                </div>
                </div>
                <div class="">
                <button class="btn">Поддробнее</button>
                </div>
            </div>
            </div>
        </div>
        <hr class="mb-2">
        </div>
        <!-- ### /CARD_3 ### -->
        <!-- ### CARD_4 ### -->
        <div class="">
        <div
            class="col  books_item item_books d-flex align-items-center flex-md-row flex-column align-items-md-stretch p-2">
            <h2 class="item_books__header d-block d-md-none text-center"><a href="#">S.T.A.L.K.E.R. 01.
                Тумановский Ежи и Дядищев
                Александр - Тени Чернобыля. Клык</a></h2>
            <div class="item_books__image  justify-content-center border_black">
            <a href="#"><img src="assets/img/books/books_preview/kr2bfo46ow.jpg" alt=""></a>
            </div>
            <div class="item_books__description p-2 d-flex flex-column">
            <div class="item_books_UP">
                <h2 class="item_books__header d-none d-md-block"><a href="#">S.T.A.L.K.E.R. 01. Тумановский
                    Ежи и Дядищев
                    Александр - Тени Чернобыля. Клык</a></h2>
                <p>Жанр: <a href="#">Фантастика</a> <a href="#">S.T.A.L.K.E.R.</a></p>
                <p>Серия: <a href="#">S.T.A.L.K.E.R.</a></p>
                <p>Номер книги в серии: 5</p>
                <p>Автор: <a href="#">Орехов Василий</a></p>
                <p>Год: 2020</p>
            </div>
            <button class="btn d-block d-sm-none border_black">Поддробнее</button>
            <div class="item_books_down d-none d-sm-flex justify-content-between ">
                <div class="d-flex align-items-center">
                <div class="pe-3"><i class="fa-regular fa-clock"></i>06 фев 2021, 05:33</div>
                <div class="pe-3"><i class="fa-regular fa-comment-dots"></i> 3</div>
                <div class="rating-area ">
                    <input type="radio" id="star-5" name="rating" value="5">
                    <label for="star-5" title="Оценка «5»"></label>
                    <input type="radio" id="star-4" name="rating" value="4">
                    <label for="star-4" title="Оценка «4»"></label>
                    <input type="radio" id="star-3" name="rating" value="3">
                    <label for="star-3" title="Оценка «3»"></label>
                    <input type="radio" id="star-2" name="rating" value="2">
                    <label for="star-2" title="Оценка «2»"></label>
                    <input type="radio" id="star-1" name="rating" value="1">
                    <label for="star-1" title="Оценка «1»"></label>
                </div>
                </div>
                <div class="">
                <button class="btn">Поддробнее</button>
                </div>
            </div>
            </div>
        </div>
        <hr class="mb-2">
        </div>
        <!-- ### /CARD_4 ### -->
        <!-- ### CARD_5 ### -->
        <div class="">
        <div
            class="col  books_item item_books d-flex align-items-center flex-md-row flex-column align-items-md-stretch p-2">
            <h2 class="item_books__header d-block d-md-none text-center"><a href="#">S.T.A.L.K.E.R. 01.
                Тумановский Ежи и Дядищев
                Александр - Тени Чернобыля. Клык</a></h2>
            <div class="item_books__image  justify-content-center border_black">
            <a href="#"><img src="assets/img/books/books_preview/fon.jpg" alt=""></a>
            </div>
            <div class="item_books__description p-2 d-flex flex-column">
            <div class="item_books_UP">
                <h2 class="item_books__header d-none d-md-block"><a href="#">S.T.A.L.K.E.R. 01. Тумановский
                    Ежи и Дядищев
                    Александр - Тени Чернобыля. Клык</a></h2>
                <p>Жанр: <a href="#">Фантастика</a> <a href="#">S.T.A.L.K.E.R.</a></p>
                <p>Серия: <a href="#">S.T.A.L.K.E.R.</a></p>
                <p>Номер книги в серии: 5</p>
                <p>Автор: <a href="#">Орехов Василий</a></p>
                <p>Год: 2020</p>
            </div>
            <button class="btn d-block d-sm-none border_black">Поддробнее</button>
            <div class="item_books_down d-none d-sm-flex justify-content-between ">
                <div class="d-flex align-items-center">
                <div class="pe-3"><i class="fa-regular fa-clock"></i>06 фев 2021, 05:33</div>
                <div class="pe-3"><i class="fa-regular fa-comment-dots"></i> 3</div>
                <div class="rating-area ">
                    <input type="radio" id="star-5" name="rating" value="5">
                    <label for="star-5" title="Оценка «5»"></label>
                    <input type="radio" id="star-4" name="rating" value="4">
                    <label for="star-4" title="Оценка «4»"></label>
                    <input type="radio" id="star-3" name="rating" value="3">
                    <label for="star-3" title="Оценка «3»"></label>
                    <input type="radio" id="star-2" name="rating" value="2">
                    <label for="star-2" title="Оценка «2»"></label>
                    <input type="radio" id="star-1" name="rating" value="1">
                    <label for="star-1" title="Оценка «1»"></label>
                </div>
                </div>
                <div class="">
                <button class="btn">Поддробнее</button>
                </div>
            </div>
            </div>
        </div>
        <hr class="mb-2">
        </div>
        <!-- ### /CARD_5 ### -->
    </div>
    </div>
</div>
</div>
<!-- ### /main_content ### -->
<!-- ### пагинация ### -->
<div class=" box_lvl p-1">
<div class="d-flex justify-content-center">
    <nav aria-label="Page navigation example ">
    <ul class="pagination">
        <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
        </li>
    </ul>
    </nav>
</div>

</div>
<!-- ### /пагинация ### -->
</container> <!-- index -->
<!-- ######## /index ########## -->

<!-- ######## sidebar ########## -->
<container class="col d-flex box sidebar 	d-none d-xl-block">
<div class="d-flex  sidebar_container">
<div class="sidebar_container_row d-flex flex-column  ">
    <!-- ### Авторизация ### -->
    <div class=" sidebar_authorization  box_lvl mb-2 p-2">
    <form>
        <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    </div> <!-- sidebar_authorization -->
    <!-- ### /Авторизация ### -->

    <!-- ### Жанры ### -->
    <div class="border sidebar_genre box_lvl mb-2 p-2">
    <div class="">
        <div class="text-center ">Жанры</div>
        <hr>
        <div class="genre_items">
        <ul class="genre_items_ul">
            <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
            <div class="me-2"><a href="">Боевик</a></div>
            <div class="genre_item_p"></div>
            <span class="badge">14</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
            <div class="me-2"><a href="">Вселенная метро 2033</a></div>
            <div class="genre_item_p"></div>
            <span class="badge">255</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
            <div class="me-2"><a href="">Вселенная метро 2033</a></div>
            <div class="genre_item_p"></div>
            <span class="badge">255</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
            <div class="me-2"><a href="">Вселенная метро 2033</a></div>
            <div class="genre_item_p"></div>
            <span class="badge">255</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
            <div class="me-2"><a href="">Вселенная метро 2033</a></div>
            <div class="genre_item_p"></div>
            <span class="badge">255</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
            <div class="me-2"><a href="">Вселенная метро 2033</a></div>
            <div class="genre_item_p"></div>
            <span class="badge">255</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
            <div class="me-2"><a href="">Вселенная метро 2033</a></div>
            <div class="genre_item_p"></div>
            <span class="badge">255</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
            <div class="me-2"><a href="">Вселенная метро 2033</a></div>
            <div class="genre_item_p"></div>
            <span class="badge">255</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
            <div class="me-2"><a href="">Вселенная метро 2033</a></div>
            <div class="genre_item_p"></div>
            <span class="badge">255</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
            <div class="me-2"><a href="">Триллер</a></div>
            <div class="genre_item_p"></div>
            <span class="badge">25</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
            <div class="me-2"><a href="">Триллер</a></div>
            <div class="genre_item_p"></div>
            <span class="badge">25</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
            <div class="me-2"><a href="">Warhammer 40000</a></div>
            <div class="genre_item_p"></div>
            <span class="badge">8</span>
            </li>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
            <div class="me-2"><a href="">Warhammer 40000</a></div>
            <div class="genre_item_p"></div>
            <span class="badge">8</span>
            </li>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
            <div class="me-2"><a href="">Warhammer 40000</a></div>
            <div class="genre_item_p"></div>
            <span class="badge">8</span>
            </li>

        </ul>
        </div>
    </div>
    </div>
    <!-- ### /Жанры ### -->

    <!-- ### Избранное ### -->
    <div class="border box_lvl sidebar_favorites p-2">
    <div class="">
        <div class="text-center ">Последние книги</div>
        <hr>
        <div class="favorites_items">
        <div class="favorites_item d-flex align-items-center mb-2 ">
            <div class="favorites_image me-1 d-flex"><img
                src="assets/img/books/books_preview/kr2bfo46ow.jpg" alt=""></div>
            <div class="favorites_title"><a href="">
                S.T.A.L.K.E.R. 01. Тумановский
                Ежи и Дядищев
                Александр - Тени Чернобыля. Клык
            </a></div>
        </div>
        <div class="favorites_item d-flex align-items-center mb-2  ">
            <div class="favorites_image me-1"><img src="assets/img/books/books_preview/fon.jpg" alt="">
            </div>
            <div class="favorites_title"><a href="">
                Орехов Василий - Зона поражения
            </a></div>
        </div>
        <div class="favorites_item d-flex align-items-center mb-2  ">
            <div class="favorites_image me-1"><img src="assets/img/books/books_preview/kr2bfo46ow.jpg"
                alt=""></div>
            <div class="favorites_title"><a href="">
                Зона поражения
            </a></div>
        </div>
        <div class="favorites_item d-flex align-items-center mb-2  ">
            <div class="favorites_image me-1"><img src="assets/img/books/books_preview/07g9k0los8.jpg"
                alt=""></div>
            <div class="favorites_title"><a href="">
                S.T.A.L.K.E.R. 13. Калугин Алексей - Мечта на поражение
            </a></div>
        </div>
        <div class="favorites_item d-flex align-items-center mb-2  ">
            <div class="favorites_image me-1"><img src="assets/img/books/books_preview/mpidivxsgn.jpg"
                alt=""></div>
            <div class="favorites_title"><a href="">
                S.T.A.L.K.E.R. 01. Тумановский Ежи и Дядищев Александр - Тени Чернобыля. Клык
            </a></div>
        </div>
        </div>
    </div>
    </div>
    <!-- ### /Избранное ### -->

</div> <!-- sidebar_container_row-->
</div> <!-- sidebar_container-->
</container> <!-- sidebar-->
<!-- ######## /sidebar ########## -->
</div> <!-- row -->

</div> <!-- main_container -->
</main> <!-- main-->
<!-- ########### /main ############################# -->

{% endblock content %}