{% extends "base.html" %}
{% load static %}
{% load genre %}

{% block title %}{{ title }} {% endblock %}


{% block content %}
    {% if post.photo_header %}
        <style>
            html,
            body {

                background-attachment: fixed;
                background-image: url("{{ post.photo_header.url }}") !important;
                background-size: cover;

            }
        </style>
    {% endif %}


    <!-- ### Хлебные крошки  жанры ### -->
    <div class="d-flex mb-2  box_lvl p-1 index_breadcrumb d-none d-xl-block">
        <nav aria-label="">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>

                {% if post.series %}
                    <li class="breadcrumb-item"><a href="{{ post.series.get_absolute_url }}">{{ post.series }}</a></li>
                {% endif %}

                {% comment %}
                    {% for g in post.genre.all %}
                        <li class="breadcrumb-item"><a href="{{ g.get_absolute_url }}">{{ g.title }}</a></li>

                    {% endfor %}
                {% endcomment %}



                <li class="breadcrumb-item">{{ post.title }}</li>
            </ol>
        </nav>
    </div>

    <!-- # жанры канвас # -->
    {% include 'inc/_genre_canvas.html' %}
    <!-- # /жанры канвас # -->

    <!-- ### /Хлебные крошки  жанры ### -->

    <!-- ### main_content ### -->
    <div class="main_content  box_lvl p-1 ">
        <div class="main_content_container p-1 ">
            <div class="container container_details">
                <div class="row row_details ">
                    <div class="details_title text-center p-2"><h1>{{ post.title }}</h1></div>
                    <hr>
                    <div class="top__details d-flex row my-2">


                        {% if post.photo_post %}
                            <div class="img__details col-sm-3 d-flex "><img
                                    src="{{ post.photo_post.url }}" alt="{{ post.title }}"></div>
                        {% else %}
                            <div class="img__details col-sm-3 d-flex "><img
                                    src="{% static 'img/no_product.jpg' %}" alt="{{ post.title }}"></div>
                        {% endif %}

                        <div class="description__details col p-2 d-flex flex-column ">
                            <div class="d-flex flex-column description_top__details">

                                <p>
                                    Жанр:

                                    {% for g in post.genre.all %}

                                        <a href="{{ g.get_absolute_url }}">{{ g.title }}</a>
                                    {% endfor %}

                                </p>
                                {% if post.series %}
                                    <p>Серия: <a href="{{ post.series.get_absolute_url }}">{{ post.series }}</a></p>
                                {% endif %}


                                <p>Номер книги в серии: {{ post.number_series }}</p>
                                <p>Автор: <a href="{{ post.author.get_absolute_url }}">{{ post.author }}</a></p>
                                <p>Год: {{ post.year }}</p>
                            </div>

                            <div class="d-flex align-items-center justify-content-around ">
                                <div class="pe-3"><i class="fa-regular fa-clock"></i>
                                    {{ post.time_create|date:"d-m-Y H:i" }}
                                </div>
                                <div class="pe-3"><i class="fa-regular fa-clock"></i>
                                    {{ post.time_create|timesince }}
                                    {#  timesince  Сколько прошло времени от создания   #}
                                </div>
                                <div class="pe-3"><i class="fa-solid fa-eye"></i> {{ post.views }}</div>
                                <div class="pe-3"><i
                                        class="fa-regular fa-comment-dots"></i> {{ post.comment.all.count }}</div>

                                {#                                    <div class="">#}
                                {#                                        <form action="{% url "add_rating" %}" method="post" name="rating">#}
                                {#                                            {% csrf_token %}#}
                                {#                                            <input type="hidden" value="{{ post.id }}" name="post">#}
                                {#                                            <span class="rating">#}
                                {#                                                {% for k, v in star_form.fields.star.choices %}#}
                                {#                                                    <input  id="rating{{ v }}" type="radio" name="star", value="{{ k }}">#}
                                {#                                                    <label   for="rating{{ v }}">{{ k }}</label>#}
                                {#                                                {% endfor %}#}
                                {##}
                                {#                                            </span>#}
                                {#                                            <span class="editContent">{{ mid }}</span>#}
                                {#                                        </form>#}
                                {#                                    </div>#}

                            </div>
                        </div>
                    </div>


                    <div class="text-center details_title">Описание</div>
                    <hr>
                    <div class="header__details p-2">
                        {{ post.content|safe }}
                    </div>
                    <div class="  text-end mb-3">
                        {% if post.file_book %}
                            <button type="button" class="btn btn-primary  "><a href="{{ post.file_book.url }}">Скачать
                                fb-2</a></button>

                        {% endif %}
                    </div>


                    <hr class="">
                    <div class="mb-2">Остальные книги серии:</div>

                    {% for s in series_book %}
                        <a href="{{ s.get_absolute_url }}">{{ s.title }}</a>

                    {% endfor %}




                    <hr>

                    {% if user.is_authenticated %}

                        <div class="m-2">
                            <form action="{% url 'create_comment' pk=post.id %}" method="post">

                                {% csrf_token %}
                                <div class="form-floating">
                                    {{ form.content }}
                                    <label for="floatingTextarea2">Оставить комментарий</label>
                                    <div class="invalid-feedback">
                                        {{ form.content.errors }}
                                    </div>
                                </div>
                                {{ form.non_field_errors }}
                                {#        общие ошибки      #}
                                <div class="text-end">
                                    <button type="submit" class="btn btn-block button_comment">Отправить</button>
                                </div>

                            </form>
                        </div>

                    {% else %}
                        <div class="m-2">Для добавления комментария , <a
                                href="{% url 'users:login' %}">Авторизуйтесь</a></div>
                    {% endif %}

                    <div class="mb-2">Комментарии:</div>
                    <hr>
                    {% if post.comment.all %}
                        {% for com in post.comment.all %}
                            <div class="post_comment  mb-2">
                                <div class="card-header post_comment__header">
                                    {{ com.author.username|default:"Пользователь удален" }}:
                                </div>
                                <div class="card-body post_comment__body my-2 p-3" >

                                        <p>{{ com.content }}</p>

                                </div>

                                <div class="d-flex justify-content-between">
                                    <div class="text-end mb-1">{{ com.time_create }}</div>
                                    {% if com.author.id == user.id %}
                                        <div class="">
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn button_comment" data-bs-toggle="modal"
                                                    data-bs-target="#staticBackdrop">
                                                Удалить
                                            </button>

                                            <!-- Modal -->
                                            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                                 data-bs-keyboard="false" tabindex="-1"
                                                 aria-labelledby="staticBackdropLabel"
                                                 aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">

                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Удалить комментарий ?</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Close
                                                            </button>
                                                            <button type="button" class="btn btn-primary"><a
                                                                    href="{% url 'delete_comment' com.pk %}">Delete</a>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    {% endif %}

                                </div>


                            </div>
                            <hr>

                        {% endfor %}




                    {% else %}
                        <div class="">Нет комментариев</div>
                    {% endif %}





                </div>
            </div>


        </div>
    </div>
    <!-- ### /main_content ### -->

{% endblock content %}





