{% extends 'base.html' %}
{% load static %}
{% block content %}




    <main class="main m-xxl-0 mx-2">
        <!-- breadcrumb -->
        <div class="breadcrumb_main ">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
                    <li class="breadcrumb-item">{{ title }}</li>
                </ol>
            </nav>
        </div>
        <!-- /breadcrumb -->
        <hr>

        <!--  -->
        <!-- / -->

        <div class="">
            <form method="post">
                {% csrf_token %}
                <div class="form-error">{{ form.non_field_errors }}</div>
                {% for f in form %}

                    <div class="my-3 row">
                        <label for="{{ f.id_for_label }}"
                               class="col-sm-3 col-form-label">{{ f.label }}</label>
                        <div class="col-sm">
                            {{ f }}
                        </div>

                        <div class="text_danger">
                            <p></p>
                            {{ f.errors }}
                        </div>
                    </div>
                {% endfor %}

                <button type="submit" class="btn navbar_search__btn btn-block">Сохранить</button>
            </form>


        </div>


    </main>



{% endblock %}