{% extends 'base.html' %}
{% load static %}
{% block content %}




    <main class="main m-xxl-0 mx-2">
        <!-- breadcrumb -->
        <div class="breadcrumb_main ">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
                    <li class="breadcrumb-item">{{ title }}</li>
                </ol>
            </nav>
        </div>
        <!-- /breadcrumb -->
        <hr>

        <!--  -->
        <!-- / -->

        <div class="">
            <form method="post">
                {% csrf_token %}
                <div class="form-error">{{ form.non_field_errors }}</div>
                {% for f in form %}

                    <p><label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}</label>{{ f }}</p>
                    <div class="form-error">{{ f.errors }}</div>
                {% endfor %}

                <button type="submit" class="btn btn-primary btn-block">Сохранить</button>
            </form>


        </div>


    </main>



{% endblock %}