{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load i18n %}



    <main class="main m-xxl-0 mx-2">
        <!-- breadcrumb -->
        <div class="breadcrumb_main ">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
                    <li class="breadcrumb-item">{{ title|default:"Восстановление пароля"  }}:</li>
                </ol>
            </nav>
        </div>
        <!-- /breadcrumb -->
        <hr>

        <!--  -->
        <!-- / -->

        <div class="">

            <p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>

            <p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>
        </div>


    </main>



{% endblock %}