{% extends 'base.html' %}
{% load static %}
{% block content %}




    <main class="main m-xxl-0 mx-2">
        <!-- breadcrumb -->
        <div class="breadcrumb_main ">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
                    <li class="breadcrumb-item">{{ title|default:"Восстановление пароля"  }}</li>
                </ol>
            </nav>
        </div>
        <!-- /breadcrumb -->
        <hr>

        <!--  -->
        <!-- / -->

        <div class="">
            <p>Пароль успешно изменен. Используйте его для <a href="{% url 'login' %}">входа в систему</a></p>
        </div>


    </main>



{% endblock %}